<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707297075572-2qhi8bv9dr27nf07o9ur84tba281esk0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707297075572-2qhi8bv9dr27nf07o9ur84tba281esk0</string>
	<key>API_KEY</key>
	<string>AIzaSyBYpPo-AMoFHyBYFVGSA2_eN8Zy2TwsUro</string>
	<key>GCM_SENDER_ID</key>
	<string>707297075572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>aavcoders.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-baa32</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-baa32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707297075572:ios:1bbeaa07b668cc478dcc21</string>
	<key>DATABASE_URL</key>
	<string>https://instagramclone-baa32.firebaseio.com</string>
</dict>
</plist>